.navbar {
    margin-top: 20px;

    .navbar-brand {
        display: flex;
        // padding-left: 2%;
        // align-items: center;
        // align-content: center;
        // flex-wrap: wrap;

        img {
            margin-right: 10px;
        }

        span {
            font-size: 35px;
            text-align: center;
            //margin: 10px;
        }
    }

    a {
        font-size: 18px;

        &.active {
            color: #533263;
        }

        &:hover {
            color: #533263;
            background-color: #53326333;
        }
    }

    .navbar-end {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    width: 20vw;
    height: 95vh;
    display: flex;
    flex-direction: column;

    border-right: 1px solid #ddd;

}
