<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span>Processamento de Imagens</span>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/filtration" routerLinkActive="active">
                Filtros
            </a>

            <a class="navbar-item" routerLink="/operation" routerLinkActive="active">
                Operações
            </a>

            <a class="navbar-item" routerLink="/histogram" routerLinkActive="active">
                Histograma
            </a>
            <a class="navbar-item" routerLink="/morphology" routerLinkActive="active">
                Op. Morfológicas
            </a>
        </div>
    </div>
</nav>